[Desktop Entry]
Name=HuionTablet
Comment=Huion driver
Exec=/usr/lib/huiontablet/huiontablet.sh
Icon=/usr/share/icons/huiontablet.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Categories=Application;Utility;
StartupNotify=true
Name[en_US]=HuionTablet
